<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title>Hello</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 40%;
      }
      @media only screen and (max-width: 600px) {
        img {
          width: 80%;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="/hello.gif" alt="hello gif" />
    </div>
  </body>
</html>
